<div *transloco="let t">
  <h1>{{ t('students.title') }}</h1>

  @if (loading) {
    <p>{{ t('students.statusLoading') }}</p>
  }

  @if (errorMessage) {
    <p>{{ errorMessage }}</p>
  }

  @if (!loading && !errorMessage) {
    <input
      type="text"
      [placeholder]="t('students.searchPlaceholder')"
      [(ngModel)]="searchText"
      (input)="filterItems()"
    />

    <button (click)="sortByName()">
      {{ t('students.sortByName') }}
    </button>

    <button (click)="sortByAge()">
      {{ t('students.sortByAge') }}
    </button>

    <ul>
      @for (item of filteredItems; track item.login.uuid) {
        <li>
          <img [src]="item.picture.medium" [alt]="t('students.photoAlt')" width="80" />

          <p>
            <strong>{{ item.name.first }} {{ item.name.last }}</strong>
          </p>
          <p>{{ t('students.email') }}: {{ item.email }}</p>
          <p>{{ t('students.age') }}: {{ item.dob.age }}</p>
          <p>{{ t('students.phone') }}: {{ item.phone }}</p>
          <p>
            {{ item.location.country }} - {{ item.location.state }} -
            {{ item.location.city }}
          </p>

          <hr />
        </li>
      }
    </ul>
  }
</div>
